@charset "UTF-8";
/* 定义transform */
body, html { margin: 0; padding: 0; }

section { display: block; }

body { font: 12px/1.5 arial; margin: 20px 0 0 20px; }

.wrapper { width: 960px; margin: 0 auto; }
.wrapper section { margin-bottom: 30px; }

.wrap { display: inline-block; border-width: 2px; border-color: orange blue green silver; border-style: solid; }

.test { width: 100px; height: 100px; line-height: 100px; text-align: center; border-width: 2px; border-color: orange blue green silver; border-style: solid; font-weight: bold; }

.test:hover { background: #eee; }

#test1 { transform: rotate(60deg); -webkit-transform: rotate(60deg); -moz-transform: rotate(60deg); }

#test2 { transform: skew(60deg); -webkit-transform: skew(60deg); -moz-transform: skew(60deg); }

#test3 { transform: scale(0.5); -webkit-transform: scale(0.5); -moz-transform: scale(0.5); }

#test4 { -webkit-box-shadow: 2px 2px 2px #333333 ; -moz-box-shadow: 2px 2px 2px #333333 ; box-shadow: 2px 2px 2px #333333 ; -webkit-transition: all 1s linear 0.1s; -moz-transition: all 1s linear 0.1s; transition: all 1s linear 0.1s; }

#test4:hover { transform: translate(100px, 200px); -webkit-transform: translate(100px, 200px); -moz-transform: translate(100px, 200px); }
