@charset "UTF-8";
@import 'public';
body, html { 
    margin:0; 
    padding:0; 
}
section { 
    display: block; 
}
body { 
    font:12px/1.5 arial; 
    margin:20px 0 0 20px; 
}
.wrapper { 
    width: 960px; 
    margin: 0 auto; 
    section {
        margin-bottom: 30px;
    }
}
.wrap { 
    display:inline-block; 
    border-width:2px; 
    border-color:orange blue green silver; 
    border-style:solid; 
}
.test { 
    width:100px; 
    height:100px; 
    line-height:100px; 
    text-align:center; 
    border-width:2px; 
    border-color:orange blue green silver; 
    border-style:solid;  
    font-weight:bold; 
}
.test:hover { 
    background:#eee; 
}
#test1 { 
    @include tf-rotate(60deg);
}
#test2 { 
    @include tf-skew(60deg);
}
#test3 { 
    @include tf-scale(0.5);
}
#test4 { 
    @include box-shadow(2px,2px,2px,#333);
    @include transition(all,1s,linear,0.1s);
}
#test4:hover {
    @include tf-translate(100px,200px);
}
