/* 
*　footer.css
*/
.gb-footer { height: 100px; background: #515151; color: #fff; clear: both; }
.gb-footer a { color: #fff; }
.gb-footer .inner { position: relative; width: 1200px; margin: 0 auto; }
.gb-footer .help { overflow: hidden; zoom: 1; padding-top: 24px; margin-bottom: 10px; }
.gb-footer .help li { float: left; margin-right: 10px; }
.gb-footer address { font-style: normal; }
.gb-footer .contact-us { position: absolute; right: 10px; top: 24px; } 
.gb-footer .contact-us li { float: left; padding-left: 62px; background-image: url(../images/media-bg.png); margin-right: 56px; background-repeat: no-repeat; }
.gb-footer .contact-us li.wx { background-position: 0 0; }
.gb-footer .contact-us li.sina { background-position: 0 -54px; margin-right: 0; } 
