/*
* 主题详情
*/
/* 主题描述 */
.author-theme { }
.author-theme header { padding: 12px 10px 10px 23px; background: #f6f7f7; overflow: hidden; _zoom: 1; }
.author-info { color: #666; }
.author-info .img { float: left; margin-right: 32px; border-radius: 105px; padding: 5px; background: #fff; }
.author-info .img .inner { display: block; border-radius: 95px; width: 95px; height: 95px; overflow: hidden; }
.author-info .desc { line-height: 1.7; overflow: hidden; *zoom: 1; }
.author-info .desc h2 { font-size: 14px; font-weight: normal; color: #333; line-height: 1.8; }
.author-info .desc h2 a { text-decoration: none; color: #333; }
.author-info .desc .mo { display: inline-block; line-height: 22px; padding: 0 6px; color: #fff; background: #fea341; border-radius: 3px; margin-top: 10px; cursor: pointer; }
.author-info .desc .moed { background: #ccc; cursor: text; }
/* 主题列表 */
.author-theme-list { width: 766px; overflow: hidden; }
.author-theme-list ul { margin-right: -38px; overflow: hidden; *zoom: 1; }
.author-theme .bd { padding: 30px 24px; }
.author-theme-list li { float: left; width: 230px; height: 383px; overflow: hidden; margin-right: 38px; background: url(../images/big-ready-img.jpg) center center no-repeat; }
/* 主题信息 */
.theme-info { width: 240px; color: #666; }
.theme-info .erwei-desc { width: 140px; text-align: center; }
.theme-info .desc h2 { font-weight: normal; font-size: 16px; line-height: 1.8; }
.theme-info .desc { margin-top: 26px; }
.theme-info .desc a { color: #31c0a4; }
.theme-info .desc .table tr th { text-align: right; padding: 3px 0; }
.theme-info .desc .table th { width: 3em; text-align: left; font-weight: normal; vertical-align: top; }
.theme-info .desc .table td { padding: 3px 6px; word-break: break-word; word-wrap: break-word; }
.theme-info .desc .table .tag td { padding: 0; }
.theme-info .desc .table .tag a { display: inline-block; padding: 1px 6px; word-wrap: break-word; }
/* 作者的更多主题 */
.author-more-theme { }
.author-more-theme h2 { height: 50px; line-height: 50px; padding-left: 24px; background: #f6f7f7; color: #666; font-weight: normal; font-size: 20px; }
.author-more-theme .bd { width: 1148px; padding: 30px 24px; overflow: hidden; }
.author-more-theme .bd ul { margin-right: -28px; overflow: hidden; *zoom: 1; }
.author-more-theme .bd li { float: left; width: 140px; height: 233px; overflow: hidden; margin-right: 28px; background: url(../images/mini-ready-img.jpg) center center no-repeat; }
.author-more-theme .bd li a { display: block; }
.author-more-theme .bd li a:hover img { transform: scale(1.2); -webkit-transform: scale(1.2); -moz-transform: scale(1.2); }
/* 主题分享等 */
.theme-share { width: 766px; clear: both; overflow: hidden; }
.theme-share .zan,.theme-share .collect { padding-right: 30px; float: left; margin-top: 6px; } 
.theme-share .zan .icon { width: 24px; height: 16px; top: 3px; background-position: 0 -209px; }
.theme-share .collect .icon { background-position:0 -282px; padding-right: 10px; }
.theme-share .collect .current .icon { background-position:0 -235px; }
.theme-share .collect .current { color: orange; }
.theme-share .zan a,.theme-share .collect a { color: #888; font-size: 13px; }
.theme-share .zan a:hover,.theme-share .collect a:hover { text-decoration: none; }
.theme-share .zan strong { font-weight: normal; }
.theme-share .diy-wrap,.theme-share .free-wrap { float: right; }
.theme-share .free-wrap { margin-left: 45px; }
.share-plugin { float: left; margin-top: 4px; }
.share-plugin span { line-height: 27px; }
.green-btn { display: inline-block; background: #31c0a4; color: #fff; border-radius: 3px; }
.green-btn:hover { text-decoration: none; background: #20cac0; }
.diy-btn,.free-download { padding: 0 20px; line-height: 32px; }