/* 
* 精品主题
*/
/*侧栏图标拼图*/
.theme-cate .title-module h2 .icon,
.theme-cate .title-module h3 .icon {
  background-position: 0 0;
}
.rank .title-module h2 .icon,
.rank .title-module h3 .icon {
  background-position: 0 -30px;
}
.favorite .title-module h2 .icon,
.favorite .title-module h3 .icon {
  background-position: 0 -60px;
}
/*排行榜列表*/
.rank-list ol {
  padding-top: 10px;
}
.rank-list li {
  padding-top: 10px;
  overflow: hidden;
  line-height: 16px;
  cursor: default;
  zoom: 1;
}
.rank-list li:hover,
.rank-list li.current {
  background: #eff2f1;
  transition: .5s background ease-in .1s;
}
.rank-list li .order-bg {
  float: left;
  width: 26px;
  height: 16px;
  margin-right: 16px;
  margin-left: 10px;
  line-height: 16px;
  color: #fff;
  text-align: center;
  background: #adadad;
  border-radius: 2px;

  _display: inline;
}
.rank-list li .order-s {
  background: #f39c11;
}
.rank-list .mini-cont {
  overflow: hidden;
  line-height: 16px;

  _zoom: 1;
}
.rank-list .mini-cont h3 {
  float: left;
  width: 136px;
  overflow: hidden;
  font-size: 12px;
  font-weight: normal;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rank-list .mini-cont .list-number {
  float: right;
  width: 66px;
  overflow: hidden;
  color: #999;
  text-align: right;
}
.rank-list .mini-cont .list-number .icon {
  top: 5px;
  width: 22px;
  height: 15px;
  background-position: 0 -189px;
}
.p-rank-list .mini-cont .list-number .icon {
  background-position: 0 -260px;
}
.rank-list .mini-cont .list-number:hover {
  text-decoration: none;
}
.rank-list .expand-cont {
  display: none;
}
.rank-list .current .mini-cont {
  display: none;
}
.rank-list .current .expand-cont {
  display: block;
  height: 132px;
  padding-bottom: 10px;
}
.rank-list .current .expand-cont .img {
  float: left;
  width: 80px;
  height: 132px;
  overflow: hidden;
}
.rank-list .current .expand-cont .desc {
  position: relative;
  float: right;
  width: 114px;
  height: 132px;
}
.rank-list .current .expand-cont .desc h3 {
  font-weight: normal;
}
.rank-list .current .expand-cont .desc h3 {
  padding: 10px 10px 0 0;
  font-size: 14px;
}
.rank-list .current .expand-cont .desc h3 a {
  color: #6f6f6f;
  text-decoration: underline;
}
.rank-list .current .expand-cont .desc p {
  position: absolute;
  bottom: 10px;

  *left: 0;
}
.rank .radio-check {
  margin-top: 10px;
}
/*主题分类*/
.theme-cate {
  width: 100%;
  font-size: 12px;
}
.theme-cate .bd ul {
  height: 170px;
  padding-top: 7px;
  margin-right: -36px;
  overflow: hidden;

  _zoom: 1;
}
.theme-cate .bd li {
  float: left;
  margin: 8px 36px 0 0;
  white-space: nowrap;
}
.theme-cate .bd li a {
  display: block;
  width: 48px;
  padding: 0 6px;
  overflow: hidden;
  line-height: 20px;
  color: #888;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.theme-cate .bd li a:hover,
.theme-cate .bd li.current a {
  color: #31c0a4;
  text-decoration: none;
  background: #e2e8e5;
}
/*猜你喜欢*/
.favorite .bd {
  margin: 15px 0 40px 0;
}
.favorite .show-list ul {
  margin: 0 -20px -20px 0;

  *margin: 0 -20px 0 0;
}
.favorite .show-list .list-item {
  width: 120px;
  height: 200px;
  margin: 0 20px 20px 0;
  overflow: hidden;
  background: url(../images/mini-ready-img.jpg) center center no-repeat;
}
.favorite .show-list .shilter {
  width: 114px;
  height: 194px;
}
.favorite .show-list .desc {
  width: 120px;
  height: 200px;
  font-size: 12px;
  line-height: 194px;
}
/*换一换*/
.favorite .title-module .switch {
  float: right;
  line-height: 37px;
  color: #31c0a4;
}
.favorite .title-module .switch .icon {
  top: 3px;
  width: 28px;
  height: 14px;
  background-position: 0 -166px;
}
.favorite .title-module .switch:hover {
  text-decoration: none;
}
/*轮播*/
.main .switch-list {
  margin-top: 10px;
}
/*精品主题*/
.best-theme h2 {
  padding: 0 10px 14px 0;
  font-size: 16px;
  line-height: 22px;
  color: #666;
}
.best-theme h2 .icon {
  top: 6px;
  width: 28px;
  height: 22px;
  background-position: 0 -90px;
}
.best-theme .show-list .img {
  width: 166px;
  height: 276px;
  background: url(../images/big-ready-img.jpg) center center no-repeat;
}
.best-theme .show-list ul {
  margin: 0 -40px -30px 0;
}
.best-theme .show-list .list-item {
  width: 166px;
  height: 276px;
  padding: 3px;
  margin: 0 40px 30px 0;
  overflow: hidden;
  border: 1px solid #e4e4e4;
}
.best-theme .show-list .shilter {
  width: 170px;
  height: 278px;
}
.best-theme .show-list .desc {
  width: 176px;
  height: 284px;
  font-size: 12px;
  line-height: 284px;
}
/*主题搜索列表，调整间距*/
.search-theme-list .best-theme .show-list ul {
  margin: 0 -31px -30px 0;
}
.search-theme-list .best-theme .show-list .list-item {
  margin: 0 31px 30px 0;
}
/*搜索无结果*/
.search-no-result {
  position: relative;
  height: 348px;
  margin-bottom: 40px;
  background: #f2f4f3 url(../images/search-no-result.png) 200px center no-repeat;
}
.search-no-result .no-result-tips {
  position: absolute;
  top: 60px;
  left: 510px;
}
.search-no-result .no-result-tips h2 {
  font-size: 48px;
  font-weight: normal;
  color: #777;
}
.search-no-result .no-result-tips p {
  font-size: 16px;
  color: #888;
}
.search-no-result .no-result-tips .diy-link a {
  display: inline-block;
  height: 44px;
  padding: 0 22px;
  margin-top: 20px;
  line-height: 44px;
  color: #fff;
  background: #f39c11;
  border-radius: 3px;
  -webkit-transition: .3s background ease-in .1s;
     -moz-transition: .3s background ease-in .1s;
          transition: .3s background ease-in .1s;
}
.search-no-result .no-result-tips .diy-link a:hover {
  text-decoration: none;
  background: darkseagreen;
}
/*# sourceMappingURL=lala.map */
