/*  
* author: leweiming
* index.css
*/
.gb-tab {
  position: relative;
}
/*tab内容*/
.gb-tab .tab-cont {
  height: 538px;
}
.gb-tab .tab-cont .tab-cont-item {
  position: absolute;
  z-index: 1;
  display: none;
  width: 100%;
  height: 538px;
  background-repeat: no-repeat;
  background-position: center center;
  border-color: #eee;
  border-style: solid;
  border-width: 1px 0;
}
.gb-tab .tab-cont .list-inner {
  position: relative;
  width: 1200px;
  height: 538px;
  margin: 0 auto;
}
.gb-tab .tab-cont .index1 {
  background-image: url(../images/index1.jpg);
}
.gb-tab .tab-cont .index2 {
  background-image: url(../images/index2.jpg);
}
.gb-tab .tab-cont .index3 {
  background-image: url(../images/index3.jpg);
}
.gb-tab .tab-cont .index4 {
  background-image: url(../images/index4.jpg);
}
.gb-tab .tab-cont .index1 h2 {
  display: block;
  overflow: hidden;
  text-indent: -9999em;
}
.gb-tab .tab-cont .index1 .update-list {
  position: absolute;
  top: 156px;
  left: 628px;
  z-index: 2;
  width: 560px;
  height: 160px;
  font-size: 17px;
  color: #fff;
}
.gb-tab .tab-cont .index1 .update-list ol {
  margin: 0 0 0 12px;

  *padding-left: 14px;
}
.gb-tab .tab-cont .index1 .update-list li {
  line-height: 1.6;
  text-shadow: 1px 1px #888;
  list-style-type: decimal;
}
.gb-tab .tab-cont .index3 .diy-theme-center {
  position: absolute;
  right: 185px;
  bottom: 90px;
  width: 348px;
  height: 104px;
  overflow: hidden;
  font-size: 36px;
  line-height: 104px;
  color: #fff;
  text-align: center;
  text-indent: -9999em;
}
.gb-tab .tab-cont .download-btn {
  position: absolute;
  right: 114px;
  bottom: 66px;
  width: 294px;
  height: 66px;
  padding: 17px 0;
}
.gb-tab .tab-cont .download-btn:hover {
  text-decoration: none;
}
.gb-tab .tab-cont .download-btn p {
  color: #fff;
  text-align: center;
}
.gb-tab .tab-cont .download-btn .free {
  font-size: 26px;
  /*line-height: 50px;*/
  font-weight: normal;
  text-align: center;
}
.gb-tab .tab-cont .download-btn .version {
  font-size: 14px;
  /*line-height: 50px;*/
}
.gb-tab .tab-cont .download-btn .version span {
  padding: 0 12px;
}
.gb-tab .tab-cont li.current {
  display: block;
}
/*免费主题*/
.theme-slice-list {
  position: relative;
  width: 1180px;
  height: 488px;
  margin: 24px auto;
  /*padding: 0 10px;*/
}
.theme-slice-list .theme-slice-item {
  position: absolute;
  width: 160px;
  height: 156px;
  overflow: hidden;
  border: 1px solid transparent;

  _border: 0;
}
.theme-slice-list .theme-slice-item:hover {
  -webkit-transform: rotate(-5deg) translateZ(0);
     -moz-transform: rotate(-5deg) translateZ(0);
          transform: rotate(-5deg) translateZ(0);
}
.theme-slice-list .item1 {
  top: 0;
  left: 0;
}
.theme-slice-list .item2 {
  top: 166px;
  left: 0;
  height: 322px;
}
.theme-slice-list .item3 {
  top: 0;
  left: 170px;
}
.theme-slice-list .item4 {
  top: 166px;
  left: 170px;
}
.theme-slice-list .item5 {
  top: 332px;
  left: 170px;
}
.theme-slice-list .item6 {
  top: 0;
  left: 340px;
}
.theme-slice-list .item7 {
  top: 0;
  left: 510px;
}
.theme-slice-list .item8 {
  top: 166px;
  left: 340px;
  width: 330px;
}
.theme-slice-list .item9 {
  top: 332px;
  left: 340px;
}
.theme-slice-list .item10 {
  top: 332px;
  left: 510px;
}
.theme-slice-list .item11 {
  top: 0;
  left: 680px;
  width: 330px;
  height: 322px;
}
.theme-slice-list .item12 {
  top: 332px;
  left: 680px;
}
.theme-slice-list .item13 {
  top: 332px;
  left: 850px;
}
.theme-slice-list .item14 {
  top: 0;
  left: 1020px;
  height: 322px;
}
.theme-slice-list .item15 {
  top: 332px;
  left: 1020px;
}
/* 明星排名 */
.designer-star-list {
  width: 1200px;
  height: 504px;
  margin: 30px auto 0 auto;
  overflow: hidden;
  color: #fff;
}
.ds-list-inner {
  margin: 0 -73px 0 58px;
  overflow: hidden;

  _zoom: 1;
}
.designer-star {
  float: left;
  width: 312px;
  height: 504px;
  margin-right: 71px;
}
.designer-star .bd ul {
  overflow: hidden;
  zoom: 1;
}
.designer-star .bd ul .star-works-item {
  float: left;
}
.designer-star .hd {
  position: relative;
  height: 208px;
}
.designer-star .hd p {
  position: absolute;
}
.designer-star .hd a {
  color: #fff;
}
.designer-star .hd strong {
  font-weight: normal;
}
.designer-star .hd .author-name {
  top: 80px;
  left: 126px;
  width: 182px;
  overflow: hidden;
  font-size: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.designer-star .hd .design-number,
.designer-star .hd .download-number {
  top: 143px;
  left: 140px;
  width: 170px;
  overflow: hidden;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.designer-star .hd .download-number {
  top: 174px;
}
.designer-star .hd .author-img {
  z-index: 1;
  width: 112px;
  height: 112px;
  padding: 7px;
  overflow: hidden;
  background: #fff;
  border-radius: 126px;
}
.designer-star .hd .author-img a {
  display: block;
  width: 112px;
  height: 112px;
  overflow: hidden;
  background: #fff;
  border-radius: 112px;
}
.designer-star .bd {
  padding-top: 20px;
  text-align: center;
}
.designer-star .bd ul {
  display: inline-block;
  margin-right: -10px;
  overflow: hidden;

  *display: inline;
  *zoom: 1;
}
.designer-star .bd .star-works-item {
  margin-right: 10px;
}
.designer-star .bd .star-works-item a {
  display: block;
  width: 128px;
  height: 212px;
  padding: 4px;
  background: #fff;
}
.designer-star .bd .star-works-item a:hover {
  padding: 3px;
  border: 1px solid #aaa;
}
.designer-star .bd .star-works-item .desc {
  width: 136px;
  padding: 16px 0;
  overflow: hidden;
  font-size: 15px;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*tab导航*/
.gb-tab .tab-pager {
  height: 80px;
  text-align: center;
  background: #f3f3f3;
  border-color: #dddbdb;
  border-style: solid;
  border-width: 1px 0 1px 0;
}
.gb-tab .tab-pager ul {
  display: inline-block;
  width: 1200px;
  padding-left: 2px;
  margin: 0 auto;
  background: #f3f3f3 url(../images/tab-line.png) 0 center no-repeat;

  *display: inline;
  *zoom: 1;
}
.gb-tab .tab-pager li {
  float: left;
  width: 300px;
  background: url(../images/tab-line.png) right center no-repeat;
}
.gb-tab .tab-pager > ul > li {
  position: relative;
  /*hack for IE6,do not support this attribute*/
}
.gb-tab .tab-pager li a {
  display: block;
  width: 298px;
  height: 80px;
  font-size: 20px;
  line-height: 80px;
  color: #888;
  text-align: center;

  _width: 297px;
}
.index-tab-icon {
  position: relative;
  display: inline-block;
  background-image: url(../images/index-tab-icon.png);
  background-repeat: no-repeat;

  _display: none;
  *top: 0;
}
.gb-tab .tab-pager .tab1 .index-tab-icon {
  top: 2px;
  width: 26px;
  height: 20px;
  padding-right: 6px;
  background-position: 0 0;
}
.gb-tab .tab-pager .current .tab1 .index-tab-icon {
  background-position: -43px 0;
}
.gb-tab .tab-pager .tab2 .index-tab-icon {
  top: 4px;
  width: 31px;
  height: 31px;
  padding-right: 4px;
  background-position: 0 -30px;
}
.gb-tab .tab-pager .current .tab2 .index-tab-icon {
  background-position: -43px -30px;
}
.gb-tab .tab-pager .tab3 .index-tab-icon {
  top: 8px;
  width: 32px;
  height: 32px;
  padding-right: 6px;
  background-position: 0 -71px;
}
.gb-tab .tab-pager .current .tab3 .index-tab-icon {
  background-position: -43px -71px;
}
.gb-tab .tab-pager .tab4 .index-tab-icon {
  top: 6px;
  width: 27px;
  height: 25px;
  padding-right: 6px;
  background-position: 0 -113px;
}
.gb-tab .tab-pager .current .tab4 .index-tab-icon {
  background-position: -43px -113px;
}
.gb-tab .tab-pager li a:hover,
.gb-tab .tab-pager li.current a {
  color: #656565;
  text-decoration: none;
  background-color: #ecebe7;
  border: none;
}
.gb-tab .tab-pager li.current a,
.gb-tab .tab-pager li a:hover {
  width: 298px;
  height: 78px;
  border-bottom: 2px solid #31c0a4;

  _width: 297px;
}
/* 二维码位置 */
.index-erwei {
  position: absolute;
  bottom: 66px;
  left: 616px;
}
/* 
* 特性介绍    
*/
.introduce {
  /*padding:0 10px; width: 1160px;*/
  margin: 68px auto 45px auto;
  overflow: hidden;

  *zoom: 1;
}
.introduce ul {
  margin-right: -220px;
  overflow: hidden;

  *zoom: 1;
}
.introduce ul li {
  float: left;
  width: 470px;
  height: 136px;
  margin: 0 220px 56px 0;
  overflow: hidden;
  font-size: 14px;
}
.introduce ul li .bg {
  float: left;
  width: 123px;
  height: 123px;
  margin-right: 46px;
  background-image: url(../images/introduce.png);
  background-repeat: no-repeat;
}
.introduce ul li h3 {
  font-size: 32px;
  font-weight: normal;
  line-height: 56px;
  color: #777;
}
.introduce ul li.list-item1 .bg {
  background-position: 0 0;
}
.introduce ul li.list-item2 .bg {
  background-position: -154px 0;
}
.introduce ul li.list-item3 .bg {
  background-position: 0 -133px;
}
.introduce ul li.list-item4 .bg {
  background-position: -154px -133px;
}
.introduce ul li.list-item5 .bg {
  background-position: 0 -266px;
}
.introduce ul li.list-item6 .bg {
  background-position: -154px -266px;
}
/* 
* 主题推荐
 */
.index-theme {
  padding: 0 10px;
  margin-bottom: 114px;
}
.index-theme .show-list {
  width: 1180px;
}
.index-theme .show-list ul {
  margin: 0 -40px -30px 0;
}
.index-theme .show-list .list-item {
  width: 192px;
  height: 320px;
  padding: 5px;
  margin: 0 40px 30px 0;
  overflow: hidden;
  border: 1px solid #e4e4e4;
}
.index-theme .show-list .list-item .img {
  width: 192px;
  height: 320px;
  background: url(../images/big-ready-img.jpg) center center no-repeat;
}
.index-theme .show-list .list-item .shilter {
  width: 198px;
  height: 326px;
}
.index-theme .show-list .list-item .desc {
  width: 204px;
  height: 332px;
  font-size: 16px;
  line-height: 332px;
}
/*# sourceMappingURL=lala.map */
